/* Định dạng kiểu thanh cuộn */
::-webkit-scrollbar {
    width: 6px;
    /* chiều rộng*/
}

/* Định dạng màu sắc thanh cuộn */
::-webkit-scrollbar-thumb {
    background-color: #4F4F4F;
    /* màu sắc */
}

/* Ẩn thanh cuộn */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Định dạng cho phần thumb của thanh cuộn */
.hide-scrollbar::-webkit-scrollbar-thumb {
    display: none;
}

.member-status-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.member-status {
    margin-bottom: 0;
    position: relative;
}

.sidebar-online-status {
    color: green;
}

.sidebar-offline-status {
    color: #e3b505;
}

.sidebar-offline-status,
.sidebar-online-status {
    font-size: 11px;
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 12px;
}

.an {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}